[Unit]
Description=Guest: daniel-yocto
After=network.target

[Service]
ExecStart=/usr/local/bin/guest-manager daniel-yocto boot
ExecStop=/usr/local/bin/guest-manager daniel-yocto acpi-shutdown
KillMode=none
# You may prefer Restart=no.
StartLimitInterval=1800s
StartLimitBurst=2
Restart=always

[Install]
WantedBy=multi-user.target
